/* src/styles.css */
.theme-toggle {
    text-align: right;
    margin: 0.6rem;
  }
  
  .theme-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .theme-button.dark {
    background-color: #0d1117;
    color: gray;
  }
  
  .theme-button.light {
    background-color: #0d1117;
    color: #fff;
  }
  
  .dark-mode {
    background-color: #141d26;
    color: #fff;
  }