.post{
    width: 24rem;
    margin: 0rem 1.5rem 2.5rem;
}

.postImg{ 
    width: 100%;
    height: 17.5rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}