.post{
    width: 24rem;
    margin: 0rem 1rem 2rem;
}

.postImg{ 
    width: 90%;
    height: 14rem;
    object-fit: cover;
    border-radius: 1rem;
    
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postTitle{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.postDate{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 0.8rem;
    color: rgba(240, 243, 193, 0.705);
    margin-top: 1rem;
}

.postDesc{
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    width: 90%;
}