.header {
    margin-top: 5rem;
}

.headerTitle { 
    display: flex;
    justify-content: center;
    align-content: center;
    color: whitesmoke;
    font-family: 'Lora', serif;
}

.headerTitleLg{
    position: absolute;
    top: 35%;
    font-size: 6.5rem;
}

.headerTitleSm{
    position: absolute;
    top: 50%;
    right:31%;
    font-size: 1.5rem;
}