.header {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.headerTitle { 
    display: flex;
    justify-content: center;
    align-content: center;
    color: whitesmoke;
    font-family: 'Lora', serif;
}

.headerTitleLg{
    position: absolute;
    top: 30%;
    font-size: 6rem;
}

.headerTitleSm{
    position: absolute;
    top: 45%;
    right:32%;
    font-size: 1.5rem;
}

.headerImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}